body {
    font-family: 'Oswald', sans-serif;
}

/* cube palette from https://mycolor.space/?hex=%23485FC7&sub=1 */
.spot-palette {
    /* background-color: #9696CB; */
    background-color: #EFEDFF;
}

.scroll {
    overflow-x: auto;
}

.navbar {
    border-bottom-style: groove;
}

.is-cube {
    background-color: #57918E;
    color: #EFEDFF;
}

.is-not-cube {
    color: #485FC7;
    /* background-color: #EFEDFF; */
}

.is-grand-hotel {
    /* font-family: 'Grand Hotel', cursive; */
    /* font-family: 'Libre Bodoni', serif; */
    /* font-family: 'Lobster Two', cursive; */
    font-family: 'Oswald', sans-serif;
    /* font-family: 'Montez', cursive; */
    /* font-family: 'Pacifico', cursive; */
}