/* cube palette from https://mycolor.space/?hex=%23485FC7&sub=1 */
.spot-palette {
    /* background-color: #9696CB; */
    background-color: #EFEDFF;
}

.scroll {
    overflow-x: auto;
}

.navbar {
    border-bottom-style: groove;
}

.is-cube {
    background-color: #57918E;
    color: #EFEDFF;
}

.is-not-cube {
    color: #485FC7;
    /* background-color: #EFEDFF; */
}