{% extends 'common/base.html' %}


{% block title %}
<title>Past data temperature</title>
{% endblock %}

{% block content %}

<section class="section">
    <div class="container">
        <h1 class="title">
            Past GPU Temperature
        </h1>
        <p class="subtitle">
            Historic for the GPU temperatures
        </p>
        <div class="columns">
            <div class="column">
                <p>Aquí en una tabla se presentarían los datos. Habría que acceder a la base de datos y llenar una tabla simple de Bulma. Quizá adaptar algo para que sea responsivo.</p>
            </div>
        </div>
        <div class="columns">
            <div class="column scroll"> 
                <!-- style="display: flex; justify-content: center;"> -->
                {% include 'elements/table.html' %}
            </div>
        </div>
    </div>
</section>

{% endblock %}