{% extends 'common/base.html' %}


{% block title %}
<title>Past data temperature</title>
{% endblock %}

{% block content %}

<section class="section">
    <div class="container">
        <h1 class="title">
            PiCamera
        </h1>
        <p class="subtitle">
            Take a picture
        </p>
        <div class="columns">
            <div class="column">
                <p>Aquí quizá unos botones para tomar una foto o acceder al broadcast de la PiCamera.</p>
            </div>
        </div>
    </div>
</section>

{% endblock %}