{% extends 'common/base.html' %}


{% block title %}
<title>Data temperature</title>
{% endblock %}

{% block content %}

<section class="section">
    <div class="container">
        <h1 class="title">
            GPU Temperature
        </h1>
        <p class="subtitle">
            Current GPU temperatures
        </p>
        <form action="temp" method="POST">
            <button class="button is-cube" type="submit">Click me</button>
        </form>
        <p><div id="result"> {{ result }} </div></p>
        <hr>
        <p class="subtitle">Last data saved</p>
        <p> {{ data.id }} </p>
    </div>
</section>

{% endblock %}